<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Сайт начинающего верстальщика</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
  <header>
    <h1>Сайт начинающего верстальщика {{username}}</h1>
    <img class="avatar" src="../static/img/raccoon.svg" width="80" height="80" alt="Аватарка">
  </header>
  <main>
  {% block content %} {% endblock %}
  </main>
  </body>
  <footer>
    Подвал сайта
  </footer>
</html>
