{% extends 'base.html' %}
{% block content %}
<nav class="blog-navigation">
    <h2>Записи в блоге</h2>
    <ul>
        <li><a href="day-1">День первый. Как я забыл покормить кота</a></li>
        <li><a href="day-2">День второй. Хочу быть верстальщиком</a></li>
        <li><a href="day-3">День третий. Мой кот на меня обиделся</a></li>
        <li><a href="day-4">День четвертый. Как я чуть не заболел</a></li>
        <li><a href="day-5">День пятый. Отдыхаю</a></li>
        <li><a href="day-6">День шестой. Как я ничего не понял</a></li>
        <li><a href="day-7">День седьмой. Кекс выдал мне задание</a></li>
        <li><a href="day-8">День восьмой. Очень серьёзный</a></li>
        <li><a href="day-9">День девятый. Точнее ночь</a></li>
        <li><a href="day-10">День десятый. Подведение итогов</a></li>
        <li><a href="day-11">День одиннадцатый. Без фанатизма</a></li>
        <li><a href="day-12">День двенадцатый. Все любят печенье</a></li>
        <li><a href="day-13">День тринадцатый. Нашёл статью</a></li>
        <li><a href="day-14">День четырнадцатый. Новый формат</a></li>
        <li><a href="day-15">День пятнадцатый. Галерея селфи</a></li>
    </ul>
</nav>
{% endblock %}
